*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: black;
    background-image: none;
    background-color: lightgray;
    font-family: 'Ubuntu', 'Times New Roman', Times, serif;
    text-align: center;
} 
.imf{				
    min-width: 775px;	
    display: flex;
    flex-wrap: wrap;	
    justify-content: center;			
}  
iframe{
    float: left;
    margin-left: 30px;
    shape-outside: url("izmir4.jpg");
    shape-margin: 1%;
}
.text{
    text-align: center;
    color: black;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}